/* logIn.css */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 400px; /* Limita el ancho máximo del formulario */
  padding: 20px;
  background-color: #f8f9fa; /* Color de fondo claro para el formulario */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar el formulario */
}
